<<<<<<< HEAD
<div class="comment">
	<div class="username">{{userName}}</div>
	<div class="comment-content">{{comment}}</div>
</div>
=======
		<div class="comment">
			<p class="username">{{commentUsername}}</p>
			<p class="comment-content">{{commentContent}}</p>
		</div>
>>>>>>> alpha
