{{> header}}

<main id="content">
	<section id="posts">

      {{#each post}}
         {{> content_container}}

         <div class="comment-container">
            {{#each comments}}
               {{> comment}}
            {{/each}}
         </div>
      </div>

      {{/each}}
   </secion>
</main>

{{> popUpDialog}}
